
.logo{
    max-width:4%;
    margin-left:95px;
    margin-top:25px;
  }
  .side-div{
  float: right;  
  margin-top:40px;
  margin-right:100px;
  font-size: 18px;
  font-family: "eurostile", sans-serif;
  color: #141c3a;
  }
  .Mentorship{
      text-decoration: none;
      padding: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      color: #141c3a;
  }
  .say-hallo{
      border: 2px solid #7510F7;;
      border-radius: 30px;
      padding:10px 15px;
      text-decoration: none;
  }
  .say-hallo:hover {
      background-color:#7510F7;;
      color: white;
      transition: 0.5s;
  }
  .h1sec1{
    font-size:40px;
    font-family:cursive;
    text-align: center;
    margin-top: 100px;
    font-weight: 900;
  }
  .h2sec1{
      text-align: center;
      font-weight: 100;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:23px;
  }
  .avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:15.5%;
      margin-top: 60px;
  }
  .hero{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
      margin-top: 90px;
      margin-bottom: 0;
  }
  .sec2 {
      margin-top: 0;
  }
  .bac-col{
      background-image: linear-gradient(#7510F7, #31046b);
      padding-top:32px; 
      padding-bottom: 270px;
  }
  div .greet{
    font-size:30px;
    font-family:cursive;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }
  .greet-des{
      color: #fff;
      font-size: 21px;
      text-align:justify;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
      font-weight: 100;
  }
.sec3{
    position: relative;
    top: -150px;
}
.workcata{
    display: flex;
    max-width: 88%;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(250, 249, 246);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(211, 206, 206);
}
.designer{
    border-right: 1px solid rgba(228, 222, 222,0.6);
    text-align: center;
    padding: 70px;
   
}
.Frontentdev{
    border-right: 1px solid rgba(228, 222, 222,0.6);
    text-align: center;
    padding: 70px;
}
.mentor{
    text-align: center;
    padding: 70px;
}
.himg{
    margin-top: 10px;
}
.h1sec3{
    margin-top: 30px;
}
.psec3{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 20px;
}
.h3sec3{
    font-size: 18px;
    margin-top: 60px;
    color: #2b2bec;
}
.h4sec3{
    font-size: 18px;
    margin-top: 60px;
    color: #2b2bec;
    line-height: 0;
}
.ulist li{
    list-style-type: none;
    margin-right: 50px;
    font-size: 18px;
    line-height: 1.8;
}
