
.logo{
    max-width:4%;
    margin-left:95px;
    margin-top:25px;
  }
  .side-div{
  float: right;  
  margin-top:40px;
  margin-right:100px;
  font-size: 18px;
  font-family: "eurostile", sans-serif;
  color: #141c3a;
  }
  .Mentorship{
      text-decoration: none;
      padding: 18px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 18px;
      color: #141c3a;
  }
  .say-hallo{
      border: 2px solid #7510F7;;
      border-radius: 30px;
      padding:10px 15px;
      text-decoration: none;
  }
  .say-hallo:hover {
      background-color:#7510F7;;
      color: white;
      transition: 0.5s;
  }
  h1{
    font-size:40px;
    font-family:cursive;
    text-align: center;
    margin-top: 100px;
    font-weight: 900;
  }
  h2{
      text-align: center;
      font-weight: 100;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size:23px;
  }
  .avatar {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:15.5%;
      margin-top: 60px;
  }
  .hero{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: auto;
      margin-top: 90px;
      margin-bottom: 0;
  }
  .sec2 {
      margin-top: 0;
  }
  .bac-col{
      background-image: linear-gradient(#7510F7, #31046b);
      padding-top:32px; 
      padding-bottom: 250px;
  }
  div .greet{
    font-size:30px;
    font-family:cursive;
    text-align: center;
    font-weight: 700;
    color: #fff;
  }
  .greet-des{
      color: #fff;
      font-size: 21px;
      text-align:center;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
  }
  .work-cata{
    background-color: #fff;
  }